.card {
  border: none;
  border-radius: 1rem;
  transition: transform 0.2s ease;
}

body {
  background-color: #f8f9fa;
  color: #252525;
}

.card-filme:hover {
  transform: scale(1.08);
}

.card-img-top {
  height: 400px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.card-text {
  font-size: 0.95rem;
  color: #000000;
}

.card ul {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}



